<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Checkers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Checkers.Properties.Settings>
            <setting name="debug_allow_pawn_move_back" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debug_dont_check_stop_conds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debug_play_as_bot" serializeAs="String">
                <value>False</value>
            </setting>
        </Checkers.Properties.Settings>
    </userSettings>
</configuration>